html {
  font-family: Poppins;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  max-width: 1249px;
  height: 48px;
  margin: 20px 96px;
}
.prj_name {
  margin-top: 10px;
  color: #131316;
  font-size: 28px;
  font-weight: 600;
}
.menu {
  display: flex;
  gap: 40px;
  align-items: center;
}
.burger_menu {
  display: none;
}
.header_right_container {
  display: flex;
  flex-grow: 3;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
}
.header_left_container {
  height: 100%;
  flex-grow: 1;
  display: inline-flex;
  gap: 8px;
}
.main_icon {
  height: 15px;
  margin-top: 7px;
}
.nav_li {
  color: #131316;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.btn {
  color: #131316;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  border: none;
  border-radius: 12px;
  background: #f5f5f5;
  font-family: "Poppins";
  box-sizing: border-box;
}
.log_in {
  width: 95px;
  height: 48px;
  padding: 12px 24px;
}

section {
  max-width: 1249px;
  margin: 20px 96px;
}
.get_started_section {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
}
.first_part {
  max-width: 876px;
  min-height: 228px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.first_part_title {
  max-width: 824px;
  color: #131316;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px; /* 70.4px */
  letter-spacing: -2px;
}
.first_part_info {
  max-width: 611px;
  color: #131316;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.btn_container {
  width: 613px;
}
.second_part {
  /* width:   px;*/
  display: flex;
  margin-top: 34px;
  gap: 30px;
}

.get_started_btn {
  padding: 16px 32px;
  background: #4891ff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 16px;
  display: inline-flex;
  margin-top: 0px;
}
.book_demo_btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 16px;
  margin-left: 10px;
  gap: 10px;
}
.camera_icon {
  width: 18px;
  height: 22px;
}
.team_info_section_img {
  width: 612px;
  margin-top: 93px;
  border-radius: 16px;
  border: 1px solid #dfdee2;
}
.scale_container {
  display: grid;
  grid-gap: 30px 20px;
  grid-template-areas:
    "skale box1"
    "skale box2";
}
.scale_img {
  width: 400px;
  height: 413px;
  flex-shrink: 0;
  border-radius: 16px;
  grid-area: skale;
}
.girl_img {
  width: 190px;
  height: 257px;
  flex-shrink: 0;
}
.girl_photo_container {
  width: 190px;
  height: 190px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #f5f5f5;
  grid-area: box1;
  display: flex;
  align-items: end;
}
.bg_microphone {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: -110px;
  margin-bottom: 20px;
}
.microphone {
  margin-top: 10px;
  margin-left: 11px;
}

.team_call_container {
  grid-area: box2;
  width: 190px;
  height: 190px;
  border-radius: 16px;
  background: #daf4fe;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.join_btn {
  display: flex;
  width: 142px;
  padding: 8px 16px;
  justify-content: center;
  border-radius: 6px;
  background: #4891ff;
  color: #fff;
  font-size: 12px;
}
.team_call_name {
  margin-top: 29px;
  margin-bottom: 4px;
  text-align: center;
  font-weight: 600;
  line-height: 19px;
}
.team_call_info {
  width: 143px;
  text-align: center;
  font-size: 10px;
  line-height: normal;
}
.team_call_time {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

.tools_section {
  display: grid;
  grid-template-areas:
    "header header"
    "box1 box2";
  margin-top: 106px;
}
.tools_section_title_container {
  display: flex;
  flex-direction: column;
  grid-area: header;
  width: 835px;
  height: 194px;
  align-items: center;
  margin-left: 207px;
  gap: 24px;
  margin-bottom: 50px;
}
.dashboard_container {
  width: 506px;
  grid-area: box1;
  margin-right: 30px;
}
.sales_container {
  grid-area: box2;
  width: 728px;
  height: 486px;
  box-sizing: border-box;
}
.tools_section_title {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
  letter-spacing: -1px;
}
.tools_section_info {
  text-align: center;
  line-height: 26px;
  width: 620.53px;
  height: 52.725px;
}
.dashboard_container_title {
  max-width: 506px;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.dashboard_container_info {
  color: #494a4d;
  font-size: 16px;
  line-height: 25px;
}
.dashboard_monitoring_container {
  display: flex;
  width: 506px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.dashboard_monitoring_title {
  font-size: 24px;
  line-height: 29px;
}
.dashboard_monitoring_info {
  width: 400px;
  color: #494a4d;
  font-size: 16px;
  line-height: 26px;
  margin-top: 16px;
}
.black_line {
  width: 513px;
  height: 1px;
  background: #131316;
  margin-top: 33px;
  margin-bottom: 20px;
}
.grey_line {
  width: 513px;
  height: 1px;
  background: #dfdee2;
  margin: 20px 0;
}
.sales_img {
  width: 100%;
}

.team_call_section {
  display: flex;
  margin-top: 78px;
}

.box_title {
  color: #131316;
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.box_info {
  color: #494a4d;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
}

.basic_container {
  max-width: 506px;
}
.right_box {
  margin-left: 24px;
}
.left_box {
  margin-right: 24px;
}
.link_learn_more {
  color: #131316;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
.arrow_learn_more {
  width: 12px;
  height: 10px;
  margin-left: 8px;
}
.communication_section {
  display: flex;
  margin-top: 78px;
}
.img {
  width: 728px;
  height: 486px;
  border-radius: 4px;
}
.productivity_section {
  display: flex;
  margin-top: 78px;
  margin-bottom: 78px;
}

.video_section {
  max-width: 1440px;
  height: 1874px;
  background-color: #131316;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.video_section_title {
  width: 767px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 57.6px;
  letter-spacing: -1px;
  margin-top: 97px;
}
.video_wrapper {
  width: 835px;
  height: 486px;
  background-image: url(../assets/bg_video_img.jpg);
  background-size: cover;
  position: relative;
  margin-top: 44px;
  margin-bottom: 64px;
}
.play_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video_section_line {
  width: 1265px;
  height: 1px;
  background: #494949;
  margin: 104px 0;
}
.cards_container_title {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1px;
  width: 833px;
  height: 176px;
  margin-left: 85px;
}
.video_section_part_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1265px;
  margin-left: 85px;
}

.cards_container {
  width: 1695px;
  height: auto;
  margin-left: 85px;
  margin-top: 65px;
  display: flex;
  column-gap: 24px;
}
.card {
  border-radius: 16px;
  background: #fafafa;
  height: fit-content;
  width: 405px;
  padding: 41px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.card_info {
  width: 320px;
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
}
.card_author {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
.card_firm {
  line-height: 150%;
}
/*pricing-section style*/
.pricing_section {
  margin: 0;
  padding: 104px 308px;
}
.pricing_title_container {
  width: 612px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 104px;
  margin-bottom: 64px;
}
.pricing_title {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -3px;
}
.pricing_info {
  text-align: center;
  font-size: 16px;
  line-height: 160%;
}
.tarif-card {
  width: 400px;
  padding: 56px;
  border-radius: 16px;
  background: #fafafa;
  box-sizing: border-box;
}
.card2 {
  background-color: #131316;
}
.tariff_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  max-height: 791px;
}
.tarif-card__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 120%; /* 43.2px */
  letter-spacing: -0.36px;
  margin-bottom: 16px;
}
.tarif-card__info {
  color: #494a4d;
  font-size: 16px;
  line-height: 160%; /* 25.6px */
}
.price {
  font-size: 36px;
  font-weight: 500;
  line-height: 120%; /* 43.2px */
  letter-spacing: -0.36px;
}
.price_info {
  font-size: 14px;
  line-height: 120%; /* 16.8px */
  letter-spacing: -0.14px;
  margin-left: 8px;
  margin-bottom: 5px;
}
.price-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 32px;
  margin-bottom: 24px;
}
.line {
  width: 288px;
  margin: 0;
  margin-bottom: 32px;
}
.description-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.description-list {
  list-style: url(../assets/arrow_list_icon.svg);
}
.description-list li {
  font-size: 16px;
  line-height: 160%; /* 25.6px */
}
.price_btn {
  margin-top: 32px;
  justify-content: center;
  width: 288px;
  box-sizing: border-box;
}
.white-color {
  color: #ffffff;
}
.white-color li {
  list-style: url(../assets/arrow_white_list_icon.svg);
}
.description-list_title {
  width: 262px;
  margin-bottom: 12px;
  margin-left: -24px;
}
.note-text {
  width: 698px;
  margin-top: 58px;
  margin-left: 61px;
}

/*     footer style      */

/*-----------------------*/
@media (max-width: 375px) {
  body {
    max-width: 375px;
  }
  .menu {
    display: none;
  }
  .burger_menu {
    display: block;
  }

  .header {
    max-width: 375px;
    margin: 28px 16px;
  }
  section {
    max-width: 375px;
  }
  .log_in {
    display: none;
  }
  .first_part {
    width: 343px;
  }
  .first_part_title {
    font-size: 36px;
    line-height: 110%;
  }
  .first_part_info {
    font-size: 18px;
    line-height: 160%;
  }
  .get_started_section {
    margin: 84px 16px;
    margin-bottom: 0px;
    text-align: center;
  }
  .btn_container {
    width: 343px;
  }
  .get_started_btn {
    justify-content: center;
    width: 343px;
  }
  .book_demo_btn {
    width: 343px;
    margin-top: 19px;
    margin-left: 0;
  }
  .team_info_section_img {
    width: 343px;
    margin-top: 59px;
  }
  .scale_img {
    width: 210px;
    height: 231px;
  }
  .second_part {
    width: 375px;
    flex-direction: column;
    gap: 17px;
  }
  .girl_photo_container {
    width: 106px;
    height: 106px;
  }
  .girl_img {
    width: 106px;
    height: 144px;
  }
  .bg_microphone {
    margin-bottom: 10px;
    margin-left: -63px;
    width: 22px;
    height: 22px;
  }
  .microphone {
    margin-top: 6px;
    margin-left: 0px;
    width: 10px;
    height: 12px;
  }
  .team_call_container {
    width: 106px;
    height: 106px;
  }
  .team_call_name {
    font-size: 9px;
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .team_call_info {
    font-size: 6px;
    width: 80px;
    line-height: 120%;
  }
  .team_call_time {
    font-size: 6px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .join_btn {
    width: 80px;
    height: 19px;
    font-size: 7px;
    align-items: center;
    background: #131316;
  }
  .scale_container {
    grid-gap: 20px 0px;
  }
  .tools_section {
    width: 375px;
    margin: 63px 16px;
    margin-bottom: 0;
    margin-right: 0;
    width: 375px;
    display: flex;
    flex-direction: column;
  }
  .tools_section_title_container {
    width: 375px;
    margin: 0px;
    align-items: flex-start;
    gap: 16px;
    height: 212px;
  }
  .tools_section_title {
    width: 343px;
    height: 118px;
    font-size: 32px;
    line-height: 120%;
  }
  .tools_section_info {
    width: 343px;
    line-height: 160%;
  }
  .dashboard_container {
    margin-top: 40px;
    margin-right: 0;
    width: 343px;
    display: flex;
    flex-direction: column;
  }
  .dashboard_container_title {
    width: 343px;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 8px;
  }
  .dashboard_monitoring_container {
    width: 345px;
    margin-top: 24px;
  }
  .dashboard_monitoring_info {
    width: 345px;
    font-size: 16px;
  }
  .black_line,
  .grey_line {
    width: 343px;
  }
  .dashboard_monitoring_title {
    font-size: 20px;
    margin: 20px 0;
  }
  .sales_container {
    width: 343px;
    height: 229px;
  }
  .sales_img {
    width: 343px;
  }
  .team_call_section {
    flex-direction: column-reverse;
    margin: 40px 16px;
  }
  .box_title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .right_box {
    margin-left: 0;
    width: 343px;
  }
  .box_info {
    margin-bottom: 20px;
  }
  .img {
    margin-top: 24px;
    width: 343px;
    height: 277px;
  }
  .communication_section {
    flex-direction: column;
    margin: 40px 16px;
  }
  .productivity_section {
    width: 359px;
    flex-direction: column-reverse;
    margin: 40px 16px;
    margin-right: 0;
  }
  .video_section {
    width: 375px;
    height: fit-content;
    margin: 0;
    padding-bottom: 64px;
  }
  .video_section_part_1 {
    width: 343px;
    margin: 45px 16px;
    margin-bottom: 0;
  }
  .video_section_title {
    font-size: 32px;
    width: 343px;
    margin: 0;
    line-height: 120%;
  }
  .video_wrapper {
    width: 343px;
    height: 200px;
    border-radius: 15px;
    margin-top: 56px;
    margin-bottom: 40px;
  }
  .play_icon {
    width: 40px;
    height: 40px;
  }
  .video_section_line {
    width: 343px;
    margin: 66px 0;
  }
  .cards_container_title {
    margin: 0 16px;
    font-size: 32px;
    width: 343px;
  }
  .cards_container {
    width: 343px;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 40px;
    gap: 32px;
  }
  .card {
    width: 343px;
    padding: 32px 24px;
    gap: 20px;
    box-sizing: border-box;
  }
  .card_info {
    width: 295px;
    font-size: 16px;
  }
  .card_author {
    font-size: 16px;
  }
}
